<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Ivan 私有 NuGet 源：Ivan.* 等内部第三方库从此处获取 -->
    <add key="IvanNuGet" value="http://61.169.209.58:19081/repository/nuget-hosted/" />
  </packageSources>
  <packageSourceCredentials>
    <IvanNuGet>
      <add key="Username" value="apps" />
      <add key="ClearTextPassword" value="123456" />
    </IvanNuGet>
  </packageSourceCredentials>
</configuration>
